#timer{
  border: 5px solid black;
}

.scoremeter{
  border: 5px solid black;
}

.name{
  border: 5px solid black;
}

.question{
  border: 5px solid black;
}

.choiceContainer{
  border: 5px solid black;
}

#hud {
  display: flex;
  justify-content: space-between;
  
}

.hidden {
  visibility: hidden;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}