body {
  background-color: #ABC9FF;
}

.userScore {
  border: 5px solid black;
  text-align: center;
  font-size: 2.2rem;
  width: 100%;
}
 .highScore {
  background-color: #FF8B8B;
  border: 5px solid black;
  width:100%;
  
 }
 .listTitle {
  border-bottom: 2px solid black;
  text-align: center;
  margin: 0 auto 10px;
  font-size: 2rem;
 }
 .highScoreList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
 }

 .btn {
  font-size: 12pt;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #000000;
  background-color: #FFDEDE ;
  border-radius: 4px;
  border: 5px solid black;
}
